<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Something Error accure</h1>

    <p>
        Sorry for this error,We are working on there
    </p>

    <%- include('includes/end.ejs') %>